body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
    background-color: white;
}
.navbar-expand-lg .navbar-nav .nav-link.my_color{
  color: rgb(16, 161, 197);
  font-weight: normal;
  padding-left: 5rem;
  font-weight: 7px;
}
.navbar-light .navbar-brand.my_color{
  color: white;
  font-weight: normal;
}
.nav.link{
  margin-left: 20px;
}
.h3, h3{
  margin-left: -23px;
  font-size: 10px;
  font-style: italic;
  font-weight: 5px;
  color: rgb(16, 161, 197);
}
.navbar-brand{
  margin-left: 15px;
}